@import "font";
@mixin button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 12px 36px;
  background: linear-gradient(136deg, #ff32a1 -2.01%, rgba(255, 50, 161, 0.5) 100%);
  color: #f4f1ea;
  border: none;
  text-wrap: nowrap;
  cursor: pointer !important;
  &:hover {
    background: #9d9d9d;
  }
}

.mybtn {
  @include button();
}
.mybtn-md {
  @include button();
  font-size: 20px;
}
.mybtn-lg {
  @include button();
  font-size: 24px;
}
