// Warna Hijau
$green-leaf: #228b22;
$green-light: #98fb98;
$green-dark: #006400;
$green-olive: #556b2f;

// Warna Kuning
$yellow-bright: #ffd700;
$yellow-lemon: #fffacd;
$yellow-gold: #ffdf00;
$yellow-light: #f5deb3;
