@import "button";
@import "font";

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80px;
  z-index: 100000;
  background: transparent;
  backdrop-filter: blur(5px);
  .navbar-brand {
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    font-weight: 900;
  }
  .nav-link {
    @include roboto();
    font-size: 16px;
    color: #ff9857;
  }
}
@media screen and (max-width: 992px) {
  section {
    height: auto !important;
  }
  .navbar {
    // position: relative;
    // transform: 0;
    // height: 100%;
  }
}
.hero {
  overflow: hidden;
  position: relative;
  z-index: 3;
  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      filter: brightness(30%);
      @media screen and (max-width: 992px) {
        width: auto;
        height: 100%;
      }
    }
  }
}
.hero-content {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 5;
  h2 {
    @include roboto();
    color: #cbcbcb;
    font-size: 37px;
  }
  h1 {
    @include roboto();
    font-weight: 700;
    font-size: 60px;
    color: #cbcbcb;
  }
  p {
    @include roboto();
    color: #cbcbcb;
  }
  .tag-grb {
    position: relative;
    @include roboto();
    color: #cbcbcb;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    img {
      width: auto;
      height: 20px;
      object-fit: contain;
    }
    .stack {
      background: #303030;
      width: fit-content;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 105%;
        height: 105%;
        background: linear-gradient(90deg, #ffb933 0%, #8c12a2 100%);
        // border: 5px solid #daa608;
        filter: blur(10px);
        z-index: -1;
        opacity: 0;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
      @keyframes border {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(100%);
        }
      }
    }
  }
}
main {
  position: relative;
}
section {
  min-height: 100vh;
  max-height: fit-content;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about {
  background: #f4f1ea;
}
.about {
  height: auto;
  .header {
    h2 {
      font-weight: 700;
      font-size: 48px;
    }
    h6 {
      font-weight: 300;
      font-size: 28px;
      i {
        color: #ff32a1;
      }
    }
  }
  .card {
    border: none;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    .card-body {
      h5 {
        font-weight: 700;
        color: #fff;
        font-size: 24px;
      }

      .tool {
        img {
          margin: 0 4px;
          height: 32px;
          width: auto;
        }
      }
      p {
        color: #fff;
        font-weight: 400;
      }
    }
    &:hover {
      transform: scale(1.1);
      transition: 0.5s ease-in-out;
    }
  }
  .profile {
    .icon {
      background-color: #fff;
      border-radius: 50%;
      aspect-ratio: 1/1;
      i {
        color: #ff32a1;
      }
    }
    // height: 600px;
    @media screen and (max-width: 768px) {
      height: auto !important;
    }
    .images {
      img {
        width: 100%;
        height: 100%;
        background-color: #212429;
        clip-path: url(#masked);
        border-radius: 20px;
        box-shadow: 0px 4px 108.2px 0px rgba(0, 0, 0, 0.25);
        object-position: top center;
        padding: 0 200px;
        @media screen and (max-width: 768px) {
          padding: 0 100px;
        }
      }
    }
    .experience {
      .btn-chat {
        a {
          background-color: #fff;
          color: #fff;

          &:hover {
            background-color: #001213;
          }
        }
      }
      p {
        font-weight: 400;
        strong {
          color: #fff;
        }
      }
    }
  }
}
.sec2 {
  height: 100vh;
  background: #001213;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   width: 80vh;
  //   height: 80vh;
  //   background: radial-gradient(50% 50% at 50% 50%, rgba(227, 67, 255, 0.5) 0%, rgba(136, 40, 153, 0) 100%);
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 400'%3E%3Cpath d='M33.632286071777344,365.0224304199219C46.337816874186196,368.3109181722005,106.12855021158855,403.8863932291667,109.86547088623047,384.75335693359375C113.60239156087239,365.6203206380208,35.87443669637044,256.5022379557292,56.053810119628906,250.22421264648438C76.23318354288737,243.9461873372396,214.94768905639648,364.8729476928711,230.94171142578125,347.085205078125C246.93573379516602,329.2974624633789,133.48281860351562,147.3841552734375,152.0179443359375,143.4977569580078C170.55307006835938,139.61135864257812,318.8340810139974,340.95665041605633,342.1524658203125,323.7668151855469C365.4708506266276,306.5769799550374,268.75934346516925,45.73991012573242,291.9282531738281,40.35874557495117C315.097162882487,34.97758102416992,457.99701436360675,278.6248200734456,481.1659240722656,291.4798278808594C504.3348337809245,304.33483568827313,425.11211649576825,139.4618886311849,430.94171142578125,117.4887924194336C436.77130635579425,95.5156962076823,498.9536641438802,168.0119539896647,516.1434936523438,159.64125061035156C533.3333231608073,151.27054723103842,531.0911560058594,82.66068522135417,534.0806884765625,67.26457214355469' fill='none' stroke-width='25' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' transform='matrix(0.9476249999999999,0,0,0.9476249999999999,14.866983321189878,11.277538825988785)'/%3E%3Cdefs%3E%3ClinearGradient id='SvgjsLinearGradient1002'%3E%3Cstop stop-color='hsl(37, 99%25, 67%25)' offset='0'/%3E%3Cstop stop-color='hsl(316, 73%25, 52%25)' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  //   background-repeat: no-repeat;
  //   border-radius: 50%;
  //   filter: brightness(25%);
  //   z-index: 6 !important;
  // }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   bottom: 0;
  //   right: 0;
  //   transform: translate(50%, -20%);
  //   width: 80vh;
  //   height: 80vh;

  //   border-radius: 50%;
  //   z-index: 5 !important;
  // }
  .avatar {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../img/wall.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    object-position: bottom center;
    &::after {
      backdrop-filter: brightness(40%);
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(41.89% 41.89% at 50.07% 58.11%, rgba(48, 48, 48, 0) 30.8%, #001213 100%);
      object-position: center;
      z-index: 5;
    }
    .tali {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 10%;
      background: linear-gradient(270deg, #001213 0%, #666 100%);
    }
    .hanging {
      position: absolute;
      content: "";
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
    .light {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      clip-path: polygon(40% 10%, 0% 100%, 100% 100%, 60% 10%, 0% 10%);
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(213, 201, 139, 0.1) 0%, rgba(111, 105, 72, 0) 100%);
      opacity: 0;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit; /* Inherit the background from the parent element */
        filter: blur(50px); /* Adjust the blur value as needed */
        // z-index: -1;
      }
    }
    img {
      position: relative;
      bottom: 10%;
      z-index: 6;
      width: auto;
      height: 60%;
      object-fit: cover;
      object-position: center center;
      filter: brightness(20%);
    }
    .saklar {
      position: absolute;
      top: 30%;
      right: 50px;
      transform: translateY(-50%);
      width: 100px;
      height: 50px;
      background-color: #212121;
      z-index: 10;
      padding: 0;
      margin: 0;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: brightness(50%);
      border: 1px solid #e032ff;
      padding: 2px;
      label {
        position: relative;
        top: -100%;
        left: 0;
        @include roboto();
        color: #cbcbcb;
        font-size: 20px;
      }

      input {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 10;
        opacity: 0;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background-color: #333;
        border-radius: 8px;
        cursor: pointer;
        z-index: 9;
        transition: left 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
          color: #e032ff;
          font-size: 20px;
          font-weight: 800;
          transition: filter 0.3s ease-in-out;
        }
      }

      input:checked + span {
        left: 50px;

        ion-icon {
          filter: drop-shadow(0 0 5px #e032ff) drop-shadow(0 0 10px #e032ff) drop-shadow(0 0 15px #e032ff);
          color: #e032ff;
        }
      }

      &:hover {
        filter: brightness(100%);
      }
    }
  }
  .active {
    img {
      filter: brightness(100%);
    }
    .light {
      opacity: 1;
    }
    &::after {
      backdrop-filter: brightness(100%);
    }
    .hanging {
      svg {
        circle {
          fill: #f9f5ce;
        }
      }
    }
  }
  .toggle {
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: #cbcbcb;
    }
    #transcript {
      font-family: "Roboto", sans-serif;
      font-size: 29px;
      font-weight: 400;
      color: #cbcbcb;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      font-weight: 400;
      position: relative;
      overflow: hidden; // Ensure content does not overflow
      white-space: normal; // Allow text to wrap

      .text-container {
        position: relative;
        z-index: 1;

        &::before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          color: #cbcbcb;
          white-space: normal; // Allow text to wrap
          width: 100%;
          height: 100%;
          overflow: hidden;
          display: block;
          animation: txt 10s ease-in-out forwards;
          clip-path: inset(0 0 100% 0); // Start with 0% visible and reveal gradually

          @keyframes txt {
            0% {
              clip-path: inset(0 0 100% 0);
            }
            100% {
              clip-path: inset(0 0 0 0); // Reveal the whole content
            }
          }
        }
      }
    }
    a {
      @include button;
    }
  }
  .active {
    p {
      color: transparent;
      background-color: #cbcbcb; /* Mengubah background-image menjadi background-color */
      background-clip: text;
      -webkit-background-clip: text;
      animation: colorChange 1s ease-in-out;
    }
    @keyframes colorChange {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
    }
  }
}

.portofolio {
  background: #f4f1ea;
  .heading {
    h2 {
      font-size: 48px;
      font-weight: 700;
      @include roboto();
    }
  }
  .card {
    overflow: hidden;
    height: 200px;
    position: relative;
    .card-body {
      &:hover {
        img {
          scale: 1.2;
        }
        .card-text {
          opacity: 1;
        }
        transition: all 0.5s ease-in-out;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        scale: 1;
        transition: all 0.5s ease-in-out;
      }
      .card-text {
        background: rgba(23, 23, 23, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        span {
          color: #fff;
          @include roboto();
          font-size: 20px;
          font-weight: 5000;
          margin-bottom: 12px;
        }
        a {
          @include button;
        }
      }
    }
  }
}

.wrapper-tech {
  overflow: hidden;
  background: #001213;
  h2 {
    font-weight: 700;
    font-size: 48px;
    color: #f4f1ea;
  }
  h6 {
    font-weight: 300;
    color: #f4f1ea;
    font-size: 28px;
    i {
      color: #ff32a1;
    }
  }
  .tech1,
  .tech2 {
    // overflow-x: hidden;
    transform: rotate(-0.8deg);
    .sliderb {
      display: flex;
      animation: slideToLeft 25s linear infinite;
      transition: transform 0.5s ease-in-out;
      will-change: transform;
    }
    .slidert {
      display: flex;
      animation: slideToRight 25s linear infinite;
      transition: transform 0.5s ease-in-out;
      will-change: transform;
    }
    @keyframes slideToLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    @keyframes slideToRight {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }
    &:hover {
      .sliderb,
      .slidert {
        animation-play-state: paused;
      }
    }
    .tech-item {
      background-color: #f8f8f8;
      width: 311px;
      height: 112px;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      gap: 13px;
      outline: 3px solid transparent;
      border-radius: 20px;
      img {
        width: auto !important;
        height: 100% !important;
      }
      &:hover {
        outline: 5px solid #ff32a1;
      }
      .gtext {
        margin-left: 0;
        h4 {
          color: #303030;

          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        span {
          color: #303030;

          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
}
.contact {
  background: #f4f1ea;
  .heading {
    h2 {
      font-size: 48px;
      font-weight: 700;
    }
  }
  form {
    input,
    textarea {
      border-radius: 12px;
      outline: 1px solid #e032ff;
      &:focus {
        box-shadow: none;
      }
    }
    button {
      @include button;
    }
  }
  a {
    text-decoration: none;
    @include button;
  }
}
